[package]
name = "geodesy"
description = "A platform for experiments with geodetic transformations and data flow"
keywords = ["geodesy", "cartography", "transformations", "geography"]
categories = ["science"]
license = "MIT OR Apache-2.0"
version = "0.9.2"

authors = ["Thomas Knudsen <knudsen.thomas@gmail.com>"]
readme = "README.md"
repository = "https://github.com/busstoptaktik/geodesy/"
edition = "2021"

default-run = "kp"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
js = ["uuid/js"]

[dependencies]
# Core functionality
dirs = "4.0"
# memmap = "0.7"
uuid = { version = "1", features = ["v4"] }

# Command line program helpers
clap = { version = "3.1.18", features = ["derive"] }
simple_logger = "1.13"
anyhow = "1.0"

# Library level logging and error handling
log = "0.4"
thiserror = "1.0"

[dev-dependencies]
# mockall = "0.11.1"


[profile.release]
strip = true # Automatically strip symbols from the binary.
